[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
[color "diff"]
  meta = yellow
[core]
  editor = vim
[push]
  default = simple
  recurseSubmodules = check
[user]
  email = stephenviolich@gmail.com
  name = Steve Violich
