[user]
	email = stephenviolich@gmail.com
	name = Steve Violich
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[push]
	default = simple
[core]
	editor = vim
[color "diff"]
	meta = yellow
